{% for social in site.data.socials %}
  {% case social[0] %}

    {% when 'cv_social' %}
      <a
        href="https://mdbaird.github.io/assets/pdf/matthewbaird_cv.pdf"
        title="CV"
        aria-label="CV"
      ><i class="ai ai-cv"></i></a>
    {% when 'resume_social' %}
      <a
        href="https://mdbaird.github.io/assets/pdf/matthewbaird_resume.pdf"
        title="Resume"
        aria-label="Resume"
      ><i class="fa-solid fa-id-badge"></i></a>
    {% when 'email' %}
      <a
        href="mailto:{{ social[1] | encode_email }}"
        title="email"
        aria-label="email"
      ><i class="fa-solid fa-envelope"></i></a>
    {% when 'linkedin_username' %}
      <a
        href="https://www.linkedin.com/in/{{ social[1] }}"
        title="LinkedIn"
        aria-label="LinkedIn"
      ><i class="fa-brands fa-linkedin"></i></a>
    {% when 'orcid_id' %}
      <a
        href="https://orcid.org/{{ social[1] }}"
        title="ORCID"
        aria-label="ORCID"
      ><i class="ai ai-orcid"></i></a>
    {% when 'scholar_userid' %}
      <a
        href="https://scholar.google.com/citations?user={{ social[1] }}"
        title="Google Scholar"
        aria-label="Google Scholar"
      ><i class="ai ai-google-scholar"></i></a>
    {% else %}
      <a href="{{ social[1].url }}" title="{{ social[1].title }}">
        {% assign file_ext = social[1].logo | split: '.' | last %}
        {% if file_ext == 'svg' %}
          <svg>
            <image xlink:href="{% if social[1].logo contains '://' %}{{ social[1].logo }}{% else %}{{ social[1].logo | relative_url }}{% endif %}" />
          </svg>
        {% else %}
          <img
            src="{% if social[1].logo contains '://' %}{{ social[1].logo }}{% else %}{{ social[1].logo | relative_url }}{% endif %}"
            alt="{{ social[1].title }}"
          >
        {% endif %}
      </a>
  {% endcase %}
{% endfor %}
