---
layout: default
---

{% unless site.data.teaching %}
  <div class="post">
    <header class="post-header">
      <h1 class="post-title">
        {{ page.title }}
        {% if page.teaching_pdf %}
          <a
            href="{{ page.teaching_pdf | prepend: 'assets/pdf/' | relative_url}}"
            target="_blank"
            rel="noopener noreferrer"
            class="float-right"
            ><i class="fa-solid fa-file-pdf"></i
          ></a>
        {% endif %}
      </h1>
      {% if page.description %}
        <p class="post-description">{{ page.description }}</p>
      {% endif %}
    </header>

    <article>
      <div class="teaching">
        {% for entry in site.data.teaching %}
          <a class="anchor" id="{{ entry.title }}"></a>
          <div class="card mt-3 p-3">
            <h3 class="card-title font-weight-medium">{{ entry.title }}</h3>
            <div>
              {% if entry.type == 'list' %}
                {% include teaching/list.liquid %}
              {% elsif entry.type == 'map' %}
                {% include teaching/map.liquid %}
              {% elsif entry.type == 'nested_list' %}
                {% include teaching/nested_list.liquid %}
              {% elsif entry.type == 'time_table' %}
                {% include teaching/time_table.liquid %}
              {% elsif entry.type == 'list_groups' %}
                {% include teaching/list_groups.liquid %}
              {% else %}
                {{ entry.contents }}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </article>
  </div>
{% else %}
  <div class="post">
    <header class="post-header">
      <h1 class="post-title">
        {{ page.title }}
        {% if page.teaching_pdf %}
          <a
            {% if page.teaching_pdf contains '://' %}
              href="{{ page.teaching_pdf }}"
            {% else %}
              href="{{ page.teaching_pdf | prepend: 'assets/pdf/' | relative_url }}"
            {% endif %}
            target="_blank"
            rel="noopener noreferrer"
            class="float-right"
          >
            <i class="fa-solid fa-file-pdf"></i>
          </a>
        {% endif %}
      </h1>
      {% if page.description %}
        <p class="post-description">{{ page.description }}</p>
      {% endif %}
    </header>

    <article>
      <div class="teaching">
        {% for data in site.data.teaching %}

          {% if site.jsonteaching and site.jsonteaching.size > 0 %}
            {% unless site.jsonteaching contains data[0] %}
              {% continue %}
            {% endunless %}
          {% endif %}
          {% if data[0] == 'meta' or data[1].size == 0 %} {% continue %} {% endif %}
          <a class="anchor" id="{{ site.section_labels[data[0]] | default: data[0] | slugify }}"></a>
          <div class="card mt-3 p-3">
            {% assign normalized_key = data[0] | strip | downcase %}
            <h3 class="card-title font-weight-medium">
              {{ site.section_labels[normalized_key] }}
            </h3>
            <div>
              {% case data[0] %}
                {% when 'teaching_doctoral' %}
                  {% include teaching/teaching_doctoral.liquid %}
                {% when 'teaching_undergrad' %}
                  {% include teaching/teaching_undergrad.liquid %}
                {% when 'teaching_indep' %}
                  {% include teaching/teaching_indep.liquid %}
                {% when 'doctoral_advising' %}
                  {% include teaching/doctoral_advising.liquid %}
                {% else %}

              {% endcase %}
            </div>
          </div>
        {% endfor %}
      </div>
    </article>
  </div>
{% endunless %}
